<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsg.shuaigang.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gsg.commons.model.Message">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="be_commented_user_id" property="beCommentedUserId" />
        <result column="p_id" property="pId" />
        <result column="level" property="level" />
        <result column="content" property="content" />
        <result column="deleted" property="deleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <select id="findPIdByMessageId" resultType="com.gsg.commons.model.Message" parameterType="java.lang.String">
        SELECT
            level,
            p_id AS pId,
            user_id
        FROM
            message
        WHERE
            id = #{messageId}
    </select>

    <select id="findParentMessage" resultType="com.gsg.commons.vo.MessageVO">
        SELECT
            m.id,
            m.user_id,
            m.be_commented_user_id,
            m.p_id AS pId,
            m.level,
            m.content,
            m.gmt_create,
            u.user_name AS userName,
            u.avatar,
            u2.user_name AS userNameByReply
        FROM
            message m
        LEFT JOIN user u ON u.id = m.user_id
        LEFT JOIN user u2 ON u2.id = m.be_commented_user_id
        WHERE
            m.deleted=0
        AND m.level = 0
        ORDER BY
            m.gmt_create DESC
    </select>

    <select id="findChildrenMessage" resultType="com.gsg.commons.vo.MessageVO">
        SELECT
            m.id,
            m.user_id,
            m.be_commented_user_id,
            m.p_id AS pId,
            m.level,
            m.content,
            m.gmt_create,
            u.user_name AS userName,
            u.avatar,
            u2.user_name AS userNameByReply
        FROM
            message m
        LEFT JOIN user u ON u.id = m.user_id
        LEFT JOIN user u2 ON u2.id = m.be_commented_user_id
        WHERE
            m.deleted = 0
        AND m.level = 1
        ORDER BY
            m.gmt_create
    </select>

</mapper>
